@import 'style-dark';

body {
    max-width: 10000px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: $gap-width;
}

.gallery img {
    filter: grayscale(100%);
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (max-width: 415px) {
    .col2 {
        grid-column: span 1;
    }

    .row2 {
        grid-row: span 1;
    }
}

@media (min-width: 416px) {
    .col2 {
        grid-column: span 2;
    }

    .row2 {
        grid-row: span 2;
    }
}

.row2 {
    grid-row: span 2;
}

.zoom:hover {
    transform: scale(1.02);
}

.gallery div {
    overflow: hidden;
}
